<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Computer Science student at Hunter College with a concentration in Bioinformatics. 
          Passionate about data science and sharing hands-on projects that demonstrate skills 
          in analysis, visualization, and problem-solving.</p>
      </div>
      <div class="col-lg-4">
        <p> Fun Fact: My guilty pleasure is doritos dipped in vanilla ice cream. 
          Sounds cursed, but it slaps. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
